
body {
  background-image: url('https://i.imgur.com/Pa13gZsh.jpg') ;
  background-size: cover;
}

.App {
  text-align: center;
  color: #345995;
  background-image: url('https://i.imgur.com/Pa13gZsh.jpg') ;
  background-size: cover;
  font-family:Sansita, sans-sarif;
  margin: 0;
  padding: 0;
}

nav {

  background-color: #5bc0eb;
  display: flex;
  flex-direction: column;
  align-items: center;
}




a {
  text-decoration: none;
  color: #345995
}

button {
  border: 2px solid;
  background-color: #5bc0eb;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-color: #345995;
  color: #345995;
  font-weight: bold;
  margin-bottom: 50px;
  width: 50%;
  font-family:Sansita, sans-sarif;
}

button:hover {
  background-color: #345995;
  transition: 0.2s;
  color: #5bc0eb;
  border-color: #5bc0eb;
  border: 2px solid;

}

form > button{
  margin:auto;
  margin-top: 30px;
}

.delete-button:hover{
  color:#345995;
  background-color: #fb4d3d
}

.delete-button{
  font-size:30px
}

form{
  display:flex;
  flex-direction: column;
  margin: 30px;
  padding:20px;
  text-align: left;
}

label, input {
  padding: 5px;
  width: 1000px;
  font-size: 30px;
  margin:auto
}

.food-details{
  margin: auto;
  padding: 50px;
}

.details{
  font-size:30px;
}


.foodcards{
  display: grid ;
  grid-template-columns: 1fr 1fr 1fr  ;
  grid-template-rows: auto;
  margin:  3% 15%;
}


.foodcard {
  margin: 30px;
  transition: .2s;
}

.foodcard:hover {
  transform: scale(1.2);
}


.rendered-image {
  width: 80%;
  border-radius: 10%;
  box-shadow: 5px 5px black ;
}

#details-img{
  width: 40%;
}
.nav-img {
height: 200px;
}

nav > a{
  font-weight:bold;
  padding: 0 0 0 0;
}